ErrorDocument 404 /./error.php
ErrorDocument 403 /./error.php
ErrorDocument 500 /./error.php

RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteCond %{REQUEST_FILENAME} !- 
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 

RewriteEngine On
RewriteCond %{HTTP_HOST} ^certezaglobal\.com.ng [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://certezaglobal.com.ng/$1 [R,L]

RewriteEngine On    
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([\w-]+)$ post.php?name=$1 [L]

RewriteEngine On    
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^category/([\w-]+)$ category/category.php?name=$1 [L]


