ErrorDocument 404 /./error.php
ErrorDocument 403 /./error.php
ErrorDocument 500 /./error.php

RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteCond %{REQUEST_FILENAME} !- 
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 

RewriteEngine On
RewriteCond %{HTTP_HOST} ^certezaglobal\.com.ng [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://certezaglobal.com.ng/$1 [R,L]

RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule    ^([A-Za-z0-9_-]+)$    post.php?id=$1    [NC,L]    # Handle page requests


## EXPIRES CACHING ##
ExpiresActive On
ExpiresByType image/logo2.png "access plus 1 year"
ExpiresByType styles/main_styles.css "access plus 1 year"
ExpiresByType styles/bootstrap4/bootstrap.min.js "access plus 1 year"
ExpiresByType plugins/font-awesome-4.7.0/css/font-awesome.min.css "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
## EXPIRES CACHING ##


